.icon {background-image: url(~sprite.png);background-size: 4.5rem 3.84rem;}
.icon-faxian-v { width:1.5rem; height:0.96rem; background-position:-1.5rem 0rem; }
.icon-faxian { width:1.5rem; height:0.96rem; background-position:-3rem 0rem; }
.icon-geiwodianzan { width:0.96rem; height:0.96rem; background-position:0rem -2.88rem; }
.icon-home-v { width:1.5rem; height:0.96rem; background-position:-1.5rem -0.96rem; }
.icon-home { width:1.5rem; height:0.96rem; background-position:0rem -1.92rem; }
.icon-shangcheng-v { width:1.5rem; height:0.96rem; background-position:-1.5rem -1.92rem; }
.icon-shangcheng { width:1.5rem; height:0.96rem; background-position:0rem 0rem; }
.icon-shoudaopinglun { width:0.96rem; height:0.96rem; background-position:-3rem -1.92rem; }
.icon-wode-v { width:1.5rem; height:0.96rem; background-position:-3rem -0.96rem; }
.icon-wode { width:1.5rem; height:0.96rem; background-position:0rem -0.96rem; }
.icon-wodefensi { width:0.96rem; height:0.96rem; background-position:-0.96rem -2.88rem; }
.icon-xitongtongzhi { width:0.96rem; height:0.96rem; background-position:-1.92rem -2.88rem; }